# =========================
# OS / Environment
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Build artifacts (general)
# =========================
build/
dist/
out/
target/          # common output folder name (also Rust/Java)

*.exe
*.dll
*.obj
*.o
*.so
*.a
*.lib
*.ilk
*.pdb

# =========================
# C / C++
# =========================
*.out

# MSVC extras
*.ipch
*.tlog
*.idb
*.iobj
*.pch
*.sdf
*.opensdf

# =========================
# .NET / C#
# =========================
bin/
obj/
*.user
*.suo

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# Go
# =========================
*.test

# =========================
# Logs
# =========================
*.log
